<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <appender name="requestsFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>./logs/main-service-requests.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="org.zalando.logbook" level="INFO" additivity="false">
        <appender-ref ref="requestsFileAppender" />
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>